@keyframes jump {
    from {
        transform: translate3d(-50%, -4px, 0);
    }
    to {
        transform: translate3d(-50%, 4px, 0);
    }
}

:root {
    /*
   * https://mycolor.space/?hex=%23D7B44C&sub=1
   * https://mycolor.space/?hex=%23FEFEFF&sub=1
   */
    --gold: #d7b44c;
    --green1: #8ba953;
    --green2: #4a9667;
    --green3: #147e74;
    --green4: #19636f;
    --blue: #2f4858;

    --light: #ffefca;
    --lighter: #fff8e6;
    --dark: #735b00;
    --darker: #5b4600;
    --darkest: #331a00;

    --brown1: #553426;
    --brown2: #402e32;

    --gray: #dfe0df;

    --pink1: #ffc2af;
    --pink2: #fd8b7b;
    --pink3: #c0564a;

    --magenta: #ff6197;
    --dark-magenta: #e267dc;
    --cyan: #00b7f9;
    --dark-cyan: #00b0ce;
    --light-cyan: #c2fcf3;
}

@font-face {
    font-family: "adomania";
    src:
        url("./webfont/adomania-webfont.woff2") format("woff2"),
        url("./webfont/adomania-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "adomania";
    src:
        url("./webfont/adomania-italic-webfont.woff2") format("woff2"),
        url("./webfont/adomania-italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "adomania";
    src:
        url("./webfont/adomania-light-webfont.woff2") format("woff2"),
        url("./webfont/adomania-light-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "adomania";
    src:
        url("./webfont/adomania-lightitalic-webfont.woff2") format("woff2"),
        url("./webfont/adomania-lightitalic-webfont.woff") format("woff");
    font-weight: 200;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--lighter);
    color: var(--darkest);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

header h1 {
    font-family: "adomania", sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
}

header h1::after {
    content: " 🗳️"; /* 🗓️🗳️ */
    display: inline-block;
    filter: grayscale(100);
    font-size: 16px;
    padding-left: 10px;
    vertical-align: top;
}

header h1::before {
    content: " 🗳️"; /* 🗓️🗳️ */
    display: inline-block;
    filter: grayscale(100);
    font-size: 16px;
    padding-right: 10px;
    vertical-align: top;
}

@media screen and (min-width: 768px) {
    header h1 {
        font-size: 48px;
        line-height: 96px;
    }

    header h1::before,
    header h1::after {
        font-size: 36px;
    }
}

#intro {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    padding: 40px;
    position: relative;
}

#intro h2 {
    font-family: "adomania", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

#intro h3 {
    font-family: "adomania", sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
}

#intro em {
    filter: grayscale(100);
    font-style: normal;
    text-decoration: underline;
}

#intro header {
    max-width: 400px;
}

#intro::after {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: jump;
    bottom: 0;
    content: "☟";
    display: block;
    font-size: 32px;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, 0, 0);
}

@media screen and (min-width: 768px) {
    #intro h2,
    #intro h3 {
        font-size: 24px;
    }
}
